* {
    
    margin: 0;
    padding: 0;
    
}

:root {
    font-size: 10px;
}

@media(max-width: 700px){
:root{
    font-size: 7px;
}
img{
    display: none;
}
#card footer {
    display: inline-flex;
    
    
}

#links{
    margin-top: 15rem;
}
}

@media (max-width: 400px){
:root{
    font-size: 7px;
}

h4{
    width: 20rem;
    margin: 0 auto;
    font-style: italic;
    margin-top: 2rem; 
}


#texto p{
    
    margin-top: 5rem;
    font-size: 2rem;
    margin-bottom: -20rem;
}

#links a {
    margin-top: 5rem !important;
    display: inline-flex;
    justify-content: center;
    
}
hr{
    display: none;
}

span{
    display: none;
}

#card footer{ 
    display: none;
}

}




body {

    background: rgb(72, 71, 71);
    background: linear-gradient(135deg, rgba(72, 71, 71, 1) 0%, rgba(51, 49, 49, 1) 20%, rgba(42, 41, 41, 1) 52%, rgba(25, 25, 25, 1) 100%) no-repeat;
    min-height: 100vh;
    max-height: 100vh;

    text-align: center;

    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DF5622;

    
}

#card {

    
    
    margin: 5.4rem auto;
    width: 81.2rem;
    height: 96rem;
    border: 3px solid #DF5622;
    border-radius: 2rem;
    
    padding: 11.2rem 0rem;
    box-sizing: border-box;
    background: #000000;


}


#texto{
    font-size: 1.6rem;
    text-align: justify;
    margin: 0px 11rem;
    font-weight: 400;
    text-indent: 1rem;
}


img {
    width: 23.1rem;
    height: 23.6rem;
    border: 2px solid #DF5622;
    border-radius: 20rem;
    margin: auto;
    margin-bottom: 1rem;
}



h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;

}

h4 {

    font-size: 2rem;
    margin-bottom: -.8rem;
    font-weight: 400;
}

hr {

    width: 52rem;
    border-color: #707070;
    margin: auto;
    margin-bottom: .9rem;
}


footer {
    
    
    font-style: italic;
    margin-top: 11.2rem;
    font-size: 1.5rem;

}

/* links */


#links a {
    text-decoration: none;

    width: 8.5rem;
    height: 4.6rem;
    border: #DF5622 1px solid;
    border-radius: 2rem;
    font-size: 2rem;
    background: none;

    margin: 4.0rem 10rem 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #DF5622;

}

#links a:hover {

    background: url('../images/image_processing20201012-18749-1sbq5o.gif');
    background-position: center;

}